:root {
  --primary-blue: #1E386A;
  --white: #FFFFFF;
  --yellow: #FDB731;
  --cor-botao-hover: #0056b3;
}

:root {
  --cor-primaria: #1E386A;
  --cor-secundaria: #05B056;
  --cor-fundo: #FFFFFF;
  --cor-texto: #333333;
  --cor-botao-fundo: #1E386A;
  --cor-botao-hover: #0056b3;
  --cor-destaque: #FDB731;
  --cor-alerta: #F47429;
  --cor-link: #005394;
  --primary-blue: #007BFF;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

@import url('./styles/menu.css');
@import url('./styles/contato.css');
@import url('./styles/servicos.css');
@import url('./styles/sobre.css');

body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}